body {
  min-height: 100%;
}

html {
  height: 100%;
}
main {
  height: 100%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.nav-link.active {
  background-color: gainsboro !important;
  color: #212529 !important;
}
.lt-space {
  letter-spacing: 0.2em;
}
.sm-box {
  height: 150px;
}
.fix-h {
  height: 400px;
}
.max-h {
  max-height: 400px;
}
.max-w-for-pie {
  max-width: 400px;
}
.max-h-ex {
  height: 469px;
}
.bar {
  max-width: 30px;
  z-index: 999;
}
.z-low {
  z-index: 997;
}
.z-mid {
  z-index: 998;
}
.z-high {
  z-index: 999;
}
.z-highest {
  z-index: 1000;
}
.back {
  z-index: 998;
}
.sidebar {
  max-width: 200px;
  min-width: 50px;
}
@media screen and (min-width: 1400px) {
  .test {
    width: 200px;
  }
}
@media screen and (max-width: 1399px) {
  .test {
    width: 80px;
  }
}
@media screen and (max-width: 576px) {
  .make-abs {
    position: absolute;
    background-color: none !important;
  }
  .hide {
    display: none;
  }
}
@media screen and (min-width: 575px) {
  .make-abs {
    background-color: #f8f9fa !important;
  }
}
.big-btn {
  transition: all 0.3s;
}
.big-btn:hover {
  cursor: pointer;
  scale: 1.05;
  transition: all 0.3s;
}
.color-cancelled {
  color: #212529;
}
.color-processing {
  color: #198754;
}
.color-delivered {
  color: #28d785;
}

h2 {
  margin: 50px 0;
}
.inputImages{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
}
.file-upload:hover{
    cursor: pointer;
}