@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
    --primary:#0d6efd;
    --secondary:#6c757d;
    --success:#198754;
    --info:#0dcaf0;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#212529;
}
html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.gray-text{
    color: gray;
    text-decoration: none;
}
.gold-text{
    color: var(--warning);
    text-decoration: none;
}
.black-text{
    color: black;
    text-decoration: none;
}
.dropdown-item:hover{
    background-color: gainsboro;
}
.input-qty{
    max-width: 80px;
    text-align: center;
}
.modal-body{
    max-height: 60vh;
}
.disabled-white{
    background-color: #e9ecef;
}
.bg-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gradient{
    background: rgba(255,255,255,0.1);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.1) 29%, rgba(245,245,245,0.1) 48%, rgba(245,245,245,0.1) 69%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.1)), color-stop(29%, rgba(245,245,245,0.1)), color-stop(48%, rgba(245,245,245,0.1)), color-stop(69%, rgba(245,245,245,0.1)), color-stop(100%, rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.1) 29%, rgba(245,245,245,0.1) 48%, rgba(245,245,245,0.1) 69%, rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.1) 29%, rgba(245,245,245,0.1) 48%, rgba(245,245,245,0.1) 69%, rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.1) 29%, rgba(245,245,245,0.1) 48%, rgba(245,245,245,0.1) 69%, rgba(0,0,0,0.1) 100%);

}
.fs-7{
    font-size: 0.9rem;
}
.fs-8{
    font-size: 0.8rem;
}
.fs-9{
    font-size: 0.7rem;
}
