html,
body {
  height: 100%;
  min-height: 800px;
  overflow:hidden;
}
.form-signin {
    max-width: 330px;
    padding: 20px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}
.side-content{
    background-image: url("../assets/images/compressed/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  