:root{
    --warning:#ffc107;
}
html,
body {
  height: 100%;
  overflow:hidden;
}
.card{
    transition: all 0.3s;
    width: 276px;
}
.card img{
    transition: all 0.3s;
}
.card .row button{
    opacity: 1;
    transition: all 0.3s;
}
.card:hover{
    cursor: pointer;
    scale: 1.03;
    transition: all 0.3s;
}
.card:hover .row button{
    background-color: var(--warning);
    color: black;
    transition: all 0.3s;
}
.card .row button:hover{
    opacity: 0.7;
    transition: all 0.3s;
}
.card:hover img{
    scale: 1.05;
    transition: all 0.3s;
}
.marketing .cat {
    margin-bottom: 1.5rem;
    text-align: center;
    transition: all 0.3s;
}
.marketing .cat:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 0.3s;
}
.marketing .cat img{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* rtl:begin:ignore */
.marketing .cat p {
    margin-right: .75rem;
    margin-left: .75rem;
}
.pagination li a{
    color: #212529;
}
.pagination li a:focus,
.pagination li a:hover{
    z-index: 3;
    color: #212529;
    background-color: #ffc107;
}
.shadow-warning{
    box-shadow: .5rem 1rem rgba(--warning, .15);
}
.card-img-top{
    object-fit: cover;
}