:root {
  --warning: #ffc107;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

/* Carousel base class */
#banner-carousel .carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
#banner-carousel .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#banner-carousel .carousel-item {
  height: 12rem;
  position: relative;
  background-color: black;
}
@media screen and (min-width: 576px) {
    #banner-carousel .carousel-item {
    height: 17rem;
    position: relative;
    background-color: black;
    }
}
@media screen and (min-width: 768px) {
    #banner-carousel .carousel-item {
    height: 22rem;
    position: relative;
    background-color: black;
    }
}
@media screen and (min-width: 992px) {
    #banner-carousel .carousel-item {
    height: 27rem;
    position: relative;
    background-color: black;
    }
}
@media screen and (min-width: 1200px) {
    #banner-carousel .carousel-item {
    height: 32rem;
    position: relative;
    background-color: black;
    }
}
#banner-carousel .carousel-item .bg-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card {
  transition: all 0.3s;
  width: 276px;
}
.card img {
  transition: all 0.3s;
}
.card .row button {
  opacity: 1;
  color: #ffc107!important;
  transition: all 0.3s;
}
.card:hover {
  cursor: pointer;
  scale: 1.02;
  transition: all 0.3s;
}
.card:hover .row button {
  transition: all 0.3s;
  color: #212529!important;
}
.card .row button:hover {
  transition: all 0.3s;
}
.card:hover img {
  scale: 1.05;
  transition: all 0.3s;
}
.marketing .cat {
  margin-bottom: 1.5rem;
  text-align: center;
  transition: all 0.3s;
}
.marketing .cat:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 0.3s;
}
.marketing .cat img {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* rtl:begin:ignore */
.marketing .cat p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.pagination li a {
  color: #212529;
}
.pagination li a:focus,
.pagination li a:hover {
  z-index: 3;
  color: #212529;
  cursor: pointer;
}
.shadow-warning {
  box-shadow: 0.5rem 1rem rgba(--warning, 0.15);
}
.card-img-top {
  object-fit: cover;
}
